# Vercel → Project → Settings → Environment Variables
GOOGLE_SHEET_WEBAPP_URL=https://script.google.com/macros/s/AKfycbxQtC6ZPfyjrbgbxJ18V9rxqEJx67eYkRezqQYlz-9mF5-nmlc-IkJ3M6VhvmX-5LFV/exec
GOOGLE_SHEET_SECRET=CAMBIA_QUESTA_CHIAVE_SEGRETA
