# Vercel → Project → Settings → Environment Variables
GOOGLE_SHEET_WEBAPP_URL=https://script.google.com/macros/s/AKfycbwx1cdZuJk_l8hZeJRzUx_8qrm2ei5JHnMkf02dG6ZMphIZSPzwCsD1zKRpSinYc8R9/exec
GOOGLE_SHEET_SECRET=CAMBIA_QUESTA_CHIAVE_SEGRETA
